Node-RED/PrototypeV1_flow.json
[
    {
        "id": "fd628d03fa9ac542",
        "type": "tab",
        "label": "Prototype V1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "72941d8e6c0cfa1e",
        "type": "mqtt in",
        "z": "fd628d03fa9ac542",
        "name": "",
        "topic": "/ServerRoom/Humidity",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "a70cc7dac79b38f5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 260,
        "wires": [
            [
                "7122720f9bdb7707",
                "544d1a2bba437546"
            ]
        ]
    },
    {
        "id": "7122720f9bdb7707",
        "type": "debug",
        "z": "fd628d03fa9ac542",
        "name": "MQTT ServerRoom Humidity",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 260,
        "wires": []
    },
    {
        "id": "8df0306a63933791",
        "type": "comment",
        "z": "fd628d03fa9ac542",
        "name": "Name Ideas",
        "info": "Tom Thermo\nHeat Hero",
        "x": 230,
        "y": 40,
        "wires": []
    },
    {
        "id": "b4a4c9674b1c2843",
        "type": "function",
        "z": "fd628d03fa9ac542",
        "name": "Grater than threshhold",
        "func": "var payload = msg.payload;\nvar topic = msg.topic;\n\nif (payload >35)\n{\n    msg = {\n        payload: \"temperature entered critical range \" + payload + \"°C\",\n        topic: \"Test Emrg!\"\n    }\n\n    return msg;\n\n}\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 420,
        "wires": [
            [
                "d982576e8935e609",
                "428c839c03b848ba",
                "7fbdcd1f9c063fb1"
            ]
        ]
    },
    {
        "id": "d982576e8935e609",
        "type": "debug",
        "z": "fd628d03fa9ac542",
        "name": "ServerRoom Alert payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1090,
        "y": 360,
        "wires": []
    },
    {
        "id": "6ca37658ddc345bd",
        "type": "snmp",
        "z": "fd628d03fa9ac542",
        "host": "Vds15",
        "version": "1",
        "timeout": 5,
        "community": "public",
        "auth": "noAuthNoPriv",
        "authprot": "MD5",
        "privprot": "DES",
        "oids": "",
        "name": "",
        "x": 290,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "1b41810fead6d884",
        "type": "snmp set",
        "z": "fd628d03fa9ac542",
        "host": "vds",
        "version": "1",
        "timeout": "60",
        "community": "public",
        "auth": "noAuthNoPriv",
        "authprot": "MD5",
        "privprot": "DES",
        "oids": "",
        "varbinds": "",
        "name": "",
        "x": 290,
        "y": 720,
        "wires": []
    },
    {
        "id": "7fbdcd1f9c063fb1",
        "type": "e-mail",
        "z": "fd628d03fa9ac542",
        "server": "smtp-mail.outlook.com",
        "port": "587",
        "authtype": "BASIC",
        "saslformat": true,
        "token": "oauth2Response.access_token",
        "secure": false,
        "tls": true,
        "name": "eldin.fatic@htlwien10.at",
        "dname": "Send Email",
        "x": 1090,
        "y": 560,
        "wires": []
    },
    {
        "id": "e872febadbd16f62",
        "type": "inject",
        "z": "fd628d03fa9ac542",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "Email Test",
        "payload": "dummy",
        "payloadType": "str",
        "x": 570,
        "y": 560,
        "wires": [
            [
                "7fbdcd1f9c063fb1"
            ]
        ]
    },
    {
        "id": "ebc01f8f263536bc",
        "type": "mqtt in",
        "z": "fd628d03fa9ac542",
        "name": "",
        "topic": "/ServerRoom/Temperature",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "a70cc7dac79b38f5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 420,
        "wires": [
            [
                "171dc9b558d279f2",
                "05fa241f685c9a03",
                "4811a7c4f62b8f66"
            ]
        ]
    },
    {
        "id": "171dc9b558d279f2",
        "type": "debug",
        "z": "fd628d03fa9ac542",
        "name": "MQTT ServerRoom Temoperature",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 340,
        "wires": []
    },
    {
        "id": "05fa241f685c9a03",
        "type": "rbe",
        "z": "fd628d03fa9ac542",
        "name": "block unless vlaue changes",
        "func": "rbe",
        "gap": "30",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 560,
        "y": 420,
        "wires": [
            [
                "b4a4c9674b1c2843"
            ]
        ]
    },
    {
        "id": "428c839c03b848ba",
        "type": "debug",
        "z": "fd628d03fa9ac542",
        "name": "ServerRoom Alert topic",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "topic",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1090,
        "y": 420,
        "wires": []
    },
    {
        "id": "be90ed5a6b3bcf5c",
        "type": "mqtt in",
        "z": "fd628d03fa9ac542",
        "name": "",
        "topic": "/ServerRoom/#",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "a70cc7dac79b38f5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 580,
        "y": 140,
        "wires": [
            [
                "5cabab9aed8fdce3"
            ]
        ]
    },
    {
        "id": "5cabab9aed8fdce3",
        "type": "debug",
        "z": "fd628d03fa9ac542",
        "name": "debug ESP32-C6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 140,
        "wires": []
    },
    {
        "id": "4811a7c4f62b8f66",
        "type": "ui_chart",
        "z": "fd628d03fa9ac542",
        "name": "",
        "group": "4f3ab6c32044adf1",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Server Room Temperature ",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "18",
        "ymax": "40",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 560,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "544d1a2bba437546",
        "type": "ui_chart",
        "z": "fd628d03fa9ac542",
        "name": "",
        "group": "4f3ab6c32044adf1",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Server Room Humidity",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 600,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "a70cc7dac79b38f5",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mosquitto",
        "port": "1883",
        "tls": "31d7d6c3d0ae454b",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "5",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "4f3ab6c32044adf1",
        "type": "ui_group",
        "name": "ServerRoom",
        "tab": "aba022d5c2670f40",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "31d7d6c3d0ae454b",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": true,
        "alpnprotocol": ""
    },
    {
        "id": "aba022d5c2670f40",
        "type": "ui_tab",
        "name": "Dashboard",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]